In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('crime.csv', encoding='latin-1')
df.head(100)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182070945,619,Larceny,LARCENY ALL OTHERS,D14,808,NaN,2018-09-02 13:00:00,2018,9,Sunday,13,Part One,LINCOLN ST,42.357791,-71.139371,"(42.35779134, -71.13937053)"
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY,B3,421,NaN,2018-09-03 21:05:00,2018,9,Monday,21,Part Three,DELHI ST,42.275365,-71.090361,"(42.27536542, -71.09036101)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,I182070830,2647,Other,THREATS TO DO BODILY HARM,B2,294,NaN,2018-09-03 13:25:00,2018,9,Monday,13,Part Two,AKRON ST,42.325794,-71.085638,"(42.32579408, -71.08563758)"
96,I182070829,1810,Drug Violation,DRUGS - SALE / MANUFACTURING,B2,325,NaN,2018-09-03 13:45:00,2018,9,Monday,13,Part Two,WOODCLIFF ST,42.315809,-71.076187,"(42.31580934, -71.07618683)"
97,I182070829,1842,Drug Violation,"DRUGS - POSS CLASS A - HEROIN, ETC.",B2,325,NaN,2018-09-03 13:45:00,2018,9,Monday,13,Part Two,WOODCLIFF ST,42.315809,-71.076187,"(42.31580934, -71.07618683)"
98,I182070828,613,Larceny,LARCENY SHOPLIFTING,D4,146,NaN,2018-09-03 10:00:00,2018,9,Monday,10,Part One,HUNTINGTON AVE,42.347972,-71.078496,"(42.34797240, -71.07849582)"
99,I182070827,3801,Motor Vehicle Accident Response,M/V ACCIDENT - OTHER,A1,79,NaN,2018-09-03 13:28:00,2018,9,Monday,13,Part Three,ENDICOTT ST,42.365880,-71.057403,"(42.36588028, -71.05740251)"

## Contar ocorrencias 

Essa linha conta as ocorrencias da coluna "OFFENSE_DESCRIPTION" do dataset

In [91]:
df['OFFENSE_DESCRIPTION'].value_counts()

SICK/INJURED/MEDICAL - PERSON            18783
INVESTIGATE PERSON                       18754
M/V - LEAVING SCENE - PROPERTY DAMAGE    16323
VANDALISM                                15154
ASSAULT SIMPLE - BATTERY                 14791
                                         ...
ANNOYING AND ACCOSTIN                        1
ASSAULT D/W - OTHER                          1
PRISONER ATTEMPT TO RESCUE                   1
LARCENY OTHER UNDER $50                      1
VIOLATION - RESTRAINING ORDER                1
Name: OFFENSE_DESCRIPTION, Length: 244, dtype: int64

## Mostrar apenas algumas colunas do dataset
Esse codigo exibe (filtra) algumas colunas do dataset, exibindo somente as que estÃ£o descritas dentro de df.filter([])

In [97]:
base_intermediaria = df.filter(["INCIDENT_NUMBER", "OFFENSE_CODE", "OFFENSE_CODE_GROUP", "OFFENSE_DESCRIPTION"]) 
base_intermediaria.head(10)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION
0,I182070945,619,Larceny,LARCENY ALL OTHERS
1,I182070943,1402,Vandalism,VANDALISM
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY
4,I182070938,3114,Investigate Property,INVESTIGATE PROPERTY
5,I182070936,3820,Motor Vehicle Accident Response,M/V ACCIDENT INVOLVING PEDESTRIAN - INJURY
6,I182070933,724,Auto Theft,AUTO THEFT
7,I182070932,3301,Verbal Disputes,VERBAL DISPUTE
8,I182070931,301,Robbery,ROBBERY - STREET
9,I182070929,3301,Verbal Disputes,VERBAL DISPUTE

## Mostrar apenas os elementos "VANDALISM"
Esse Ã© parecido com o esquema que vocÃª pretende fazer para filtrar os dados. Nesse caso, selecionei apenas os elementos VANDALISM da coluna OFFENSE_DESCRIPTION

In [100]:
df[df["OFFENSE_DESCRIPTION"] == "VANDALISM"]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
1,I182070943,1402,Vandalism,VANDALISM,C11,347,NaN,2018-08-21 00:00:00,2018,8,Tuesday,0,Part Two,HECLA ST,42.306821,-71.060300,"(42.30682138, -71.06030035)"
43,I182070887,1402,Vandalism,VANDALISM,D4,149,NaN,2018-09-01 12:00:00,2018,9,Saturday,12,Part Two,W NEWTON ST,42.343858,-71.079535,"(42.34385799, -71.07953502)"
47,I182070881,1402,Vandalism,VANDALISM,C11,356,NaN,2018-09-03 15:00:00,2018,9,Monday,15,Part Two,GENEVA AVE,42.298489,-71.063133,"(42.29848866, -71.06313294)"
57,I182070872,1402,Vandalism,VANDALISM,C6,205,NaN,2018-08-31 17:00:00,2018,8,Friday,17,Part Two,A ST,42.347543,-71.050662,"(42.34754258, -71.05066210)"
104,I182070822,1402,Vandalism,VANDALISM,C6,231,NaN,2018-09-03 13:44:00,2018,9,Monday,13,Part Two,E SEVENTH ST,42.332385,-71.030161,"(42.33238533, -71.03016099)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318682,I152049493,1402,Vandalism,VANDALISM,B3,444,NaN,2015-06-15 05:26:00,2015,6,Monday,5,Part Two,ESMOND ST,42.298620,-71.085110,"(42.29861988, -71.08511004)"
318695,I152049477,1402,Vandalism,VANDALISM,B3,466,NaN,2015-06-15 12:00:00,2015,6,Monday,12,Part Two,ESTELLA ST,42.286874,-71.094571,"(42.28687441, -71.09457079)"
318699,I152049463,1402,Vandalism,VANDALISM,E18,493,NaN,2015-06-15 00:03:00,2015,6,Monday,0,Part Two,LEXINGTON AVE,42.262551,-71.115822,"(42.26255067, -71.11582205)"
318824,I142049917-00,1402,Vandalism,VANDALISM,C11,395,NaN,2015-09-03 13:00:00,2015,9,Thursday,13,Part Two,DORCHESTER AVE,42.285260,-71.064441,"(42.28526024, -71.06444063)"
318826,I142049917-00,1402,Vandalism,VANDALISM,C11,395,NaN,2015-09-03 13:00:00,2015,9,Thursday,13,Part Two,DORCHESTER AVE,42.285260,-71.064441,"(42.28526024, -71.06444063)"

In [110]:
df['REPORTING_AREA'].isnull().sum()

0

## CondiÃ§Ã£o para filtragem

A sintaxe correta para filtrar elementos do pandas Ã© essa aqui. Nesse caso vocÃª nÃ£o precisa converter para "int". Provavelmente o erro ocorreu por algum erro na base. Tente fazer dessa forma para ver se ele consegue filtrar os elementos: 

Sintaxe correta: DF[DF["NOME_COLUNA"] < CONDIÃ‡AO]]

In [130]:
df[df["REPORTING_AREA"] < "347"]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
6,I182070933,724,Auto Theft,AUTO THEFT,B2,330,NaN,2018-09-03 21:25:00,2018,9,Monday,21,Part One,NORMANDY ST,42.306072,-71.082733,"(42.30607218, -71.08273260)"
8,I182070931,301,Robbery,ROBBERY - STREET,C6,177,NaN,2018-09-03 20:48:00,2018,9,Monday,20,Part One,MASSACHUSETTS AVE,42.331521,-71.070853,"(42.33152148, -71.07085307)"
12,I182070923,3108,Fire Related Reports,"FIRE REPORT - HOUSE, BUILDING, ETC.",D4,139,NaN,2018-09-03 19:58:00,2018,9,Monday,19,Part Three,MARLBOROUGH ST,42.350388,-71.087853,"(42.35038760, -71.08785290)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319058,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
319063,I080542626-00,3125,Warrant Arrests,WARRANT ARREST,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Three,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319064,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319065,I080542626-00,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"

## Filtrando elementos (mais de uma coluna)

Separar elementos "REPORTING_AREA" < "347" E "OFFENSE_CODE_GROUP" == "Towed"

In [146]:
df[(df["REPORTING_AREA"] < "347") & (df["OFFENSE_CODE_GROUP"] == "Towed")]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
93,I182070832,3410,Towed,TOWED MOTOR VEHICLE,C6,229,NaN,2018-09-03 13:18:00,2018,9,Monday,13,Part Three,E SIXTH ST,42.332987,-71.042824,"(42.33298734, -71.04282382)"
126,I182070799,3410,Towed,TOWED MOTOR VEHICLE,NaN,,NaN,2018-09-03 11:55:00,2018,9,Monday,11,Part Three,CHELSEA,-1.000000,-1.000000,"(-1.00000000, -1.00000000)"
331,I182070562,3410,Towed,TOWED MOTOR VEHICLE,C6,200,NaN,2018-09-02 13:42:00,2018,9,Sunday,13,Part Three,W BROADWAY,42.342741,-71.057357,"(42.34274131, -71.05735681)"
380,I182070509,3410,Towed,TOWED MOTOR VEHICLE,C11,240,NaN,2018-09-02 09:00:00,2018,9,Sunday,9,Part Three,ANNABEL ST,42.318289,-71.062650,"(42.31828902, -71.06265046)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318627,I152049587,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2015-06-15 10:19:00,2015,6,Monday,10,Part Three,CLARENDON ST,42.346795,-71.073294,"(42.34679470, -71.07329384)"
318644,I152049555,3410,Towed,TOWED MOTOR VEHICLE,C6,211,NaN,2015-06-15 09:00:00,2015,6,Monday,9,Part Three,D ST,42.340008,-71.049432,"(42.34000843, -71.04943154)"
318659,I152049530,3410,Towed,TOWED MOTOR VEHICLE,C6,220,NaN,2015-06-15 08:54:00,2015,6,Monday,8,Part Three,OLD HARBOR ST,42.333788,-71.047472,"(42.33378771, -71.04747172)"
318664,I152049520,3410,Towed,TOWED MOTOR VEHICLE,D4,148,NaN,2015-06-15 07:17:00,2015,6,Monday,7,Part Three,GREENWICH PARK,42.342629,-71.080519,"(42.34262866, -71.08051921)"
318697,I152049472,3410,Towed,TOWED MOTOR VEHICLE,B2,324,NaN,2015-06-15 01:15:00,2015,6,Monday,1,Part Three,DANUBE ST,42.317439,-71.075478,"(42.31743922, -71.07547845)"

Separar elementos "REPORTING_AREA" < "347" OU "OFFENSE_CODE_GROUP" == "Towed"

In [147]:
df[(df["REPORTING_AREA"] < "347") | (df["OFFENSE_CODE_GROUP"] == "Towed")]

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
2,I182070941,3410,Towed,TOWED MOTOR VEHICLE,D4,151,NaN,2018-09-03 19:27:00,2018,9,Monday,19,Part Three,CAZENOVE ST,42.346589,-71.072429,"(42.34658879, -71.07242943)"
3,I182070940,3114,Investigate Property,INVESTIGATE PROPERTY,D4,272,NaN,2018-09-03 21:16:00,2018,9,Monday,21,Part Three,NEWCOMB ST,42.334182,-71.078664,"(42.33418175, -71.07866441)"
6,I182070933,724,Auto Theft,AUTO THEFT,B2,330,NaN,2018-09-03 21:25:00,2018,9,Monday,21,Part One,NORMANDY ST,42.306072,-71.082733,"(42.30607218, -71.08273260)"
8,I182070931,301,Robbery,ROBBERY - STREET,C6,177,NaN,2018-09-03 20:48:00,2018,9,Monday,20,Part One,MASSACHUSETTS AVE,42.331521,-71.070853,"(42.33152148, -71.07085307)"
12,I182070923,3108,Fire Related Reports,"FIRE REPORT - HOUSE, BUILDING, ETC.",D4,139,NaN,2018-09-03 19:58:00,2018,9,Monday,19,Part Three,MARLBOROUGH ST,42.350388,-71.087853,"(42.35038760, -71.08785290)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319058,I100033064-00,2910,Violations,VAL - OPERATING AFTER REV/SUSP.,B2,304,NaN,2016-07-29 18:20:00,2016,7,Friday,18,Part Two,SLAYTON WAY,42.321770,-71.097798,"(42.32177032, -71.09779774)"
319063,I080542626-00,3125,Warrant Arrests,WARRANT ARREST,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Three,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319064,I080542626-00,1848,Drug Violation,DRUGS - POSS CLASS B - INTENT TO MFR DIST DISP,A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319065,I080542626-00,1849,Drug Violation,"DRUGS - POSS CLASS B - COCAINE, ETC.",A1,111,NaN,2015-08-12 12:00:00,2015,8,Wednesday,12,Part Two,BOYLSTON ST,42.352312,-71.063705,"(42.35231190, -71.06370510)"
319068,I050310906-00,3125,Warrant Arrests,WARRANT ARREST,D4,285,NaN,2016-06-05 17:25:00,2016,6,Sunday,17,Part Three,COVENTRY ST,42.336951,-71.085748,"(42.33695098, -71.08574813)"